releases/v3/BugFixes/3.5.24/src/DowJones.Infrastructure/Web References/PALService/PALService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:factiva:PAL:SavedSearchService:V1_0" elementFormDefault="qualified" targetNamespace="urn:factiva:PAL:SavedSearchService:V1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fdevweb3.win.dowjones.net/PALService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://fdevweb3.win.dowjones.net/PALService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PALService.Model" />
  <xs:element name="StructuredSearchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcludeDates" type="xs:boolean" />
        <xs:element minOccurs="0" name="InterfaceLanguageCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SavedSearchId" nillable="true" type="q1:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StructuredSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PALService.Model" minOccurs="0" name="Result" nillable="true" type="q2:StructuredSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>