releases/v3/BugFixes/3.5.27/src/DowJones.Infrastructure/Web References/PALService/PALService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PALService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PALService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fdevweb3.win.dowjones.net/PALService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Factiva.Gateway.Messages.Search.V2_0" />
  <xs:import schemaLocation="http://fdevweb3.win.dowjones.net/PALService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="StructuredSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultSet" nillable="true" type="tns:ArrayOfStructuredSearchContainer" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StructuredSearchResult" nillable="true" type="tns:StructuredSearchResult" />
  <xs:complexType name="ArrayOfStructuredSearchContainer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StructuredSearchContainer" nillable="true" type="tns:StructuredSearchContainer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStructuredSearchContainer" nillable="true" type="tns:ArrayOfStructuredSearchContainer" />
  <xs:complexType name="StructuredSearchContainer">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SavedSearchId" type="xs:long" />
      <xs:element minOccurs="0" name="SavedSearchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Error" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Factiva.Gateway.Messages.Search.V2_0" minOccurs="0" name="StructuredSearch" nillable="true" type="q1:StructuredSearch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StructuredSearchContainer" nillable="true" type="tns:StructuredSearchContainer" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="ArrayOfItemList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemList" nillable="true" type="tns:ItemList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemList" nillable="true" type="tns:ArrayOfItemList" />
  <xs:complexType name="ItemList">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Id" nillable="true" type="q2:ArrayOflong" />
      <xs:element minOccurs="0" name="ItemClassId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemList" nillable="true" type="tns:ItemList" />
  <xs:complexType name="ItemScopeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultSet" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemScopeResult" nillable="true" type="tns:ItemScopeResult" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChildItem" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsAccountItem" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemClassId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Scope" type="tns:ItemScope" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:simpleType name="ItemScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Personal" />
      <xs:enumeration value="Account" />
      <xs:enumeration value="Everyone" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ItemScope" nillable="true" type="tns:ItemScope" />
  <xs:complexType name="ArrayOfUpdateItemList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UpdateItemList" nillable="true" type="tns:UpdateItemList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUpdateItemList" nillable="true" type="tns:ArrayOfUpdateItemList" />
  <xs:complexType name="UpdateItemList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemList">
        <xs:sequence>
          <xs:element minOccurs="0" name="Scope" type="tns:ItemScope" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateItemList" nillable="true" type="tns:UpdateItemList" />
</xs:schema>